*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
.contactt0{
   
    min-height: 100vh;
    padding: 5px 5px;
    
    justify-content: center;
    align-items: center;
   
   background-image: url('./contact.jpg');
    background-size: cover;
   
}
 
.content0 h1{
   
   font-size: 40px;
   font-weight: bold;
   color: rgb(22, 86, 112);
   margin-top: 110px;
   margin-left: 600px;
   width: 200px;
   font-family: sans-serif;
   font-family: 'Times New Roman';
   text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.247);
}
.contactdetails{
    
    justify-content: center;
    align-items: center;
    margin-left: 350px;
    margin-top: 80px;
   
}
.contactInfo{
    width: 50%;
   
    
}
.contactbox{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.contacticon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.contacttext{
    display: flex;
    margin-left: 20px;
    font-size: 18px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
    text-align: left;
}
.contacttext h3
{
   font-weight: 600;
   color: rgb(116, 200, 234);
}
.contactform
{
    width: 30%;
    padding: 40px;
    background: #fffffffe;
    margin-top: -330px;
    margin-left: 800px;
    
}
.contactform h2{
    font-size: 30px;
    color: rgb(85, 184, 224);
    font-weight: 500;
  
}
.contactform .inputbox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactform .inputbox input,.contactform .inputbox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.contactform .inputbox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contactform .inputbox input:focus ~ span,
.contactform .inputbox input:valid ~ span,
.contactform .inputbox textarea:focus ~ span,
.contactform .inputbox textarea:valid ~ span
{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}
.contactform .inputbox input[type="submit"]
{
    width: 100px;
    background: skyblue;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    left: 0;
}
