.reg
{
    background-image: linear-gradient(rgb(174, 137, 68),rgb(50, 100, 50));
    background-position: center;
    background-repeat: repeat;
   
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    left: 0;
    top: 0;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.rectangle071
{
    position: absolute;
    width: 620px;
    height: 600px;
    background-image: url('./reg3.jpg');
    background-repeat: no-repeat;
    margin-left: 220px;
    margin-top: 120px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.rectangle072
{
    position: absolute;
    width: 640px;
    height: 600px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
   background-color: white;
    margin-left: 744px;
    margin-top: 120px;
    /*box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.621);*/
}
.rectangle072 p
{
    margin: 30px 0;
    font-size: 50px;
   
    color: rgba(5, 62, 5, 0.703);
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.164);
}
.rectangle072 form label
{
    margin-left: -20px;
    font-size: 20px;
    padding-right: 30px;
    padding-left: -30px;
    text-align: left;
}
.rectangle072 form input
{
    width: 270px;
    height: 37px;
   
    font-size: 17px;
   
    margin-top: 18px;
    font-family: sans-serif;
    
    display: inline-block;
    padding-left: 5px;
    margin-bottom: 2px;
   
   
    size: 22;
    
   
   
   border-top: none;
   border-left: none;
   border-right: none;

} 

.can07
{
    margin-left: 20px;
    width: 150px;
    height: 35px;
    margin-top: -400px;
    background-color: rgb(49, 49, 49);
    color: #fff;
    font-size: 13px;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
    border: none;
}
.sub07
{
    margin-left: -4px;
    width: 150px;
    height: 35px;
    margin-top: 40px;
    background-color: rgba(7, 167, 7, 0.675);
    color: #fff;
    font-size: 13px;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
    border: none;
}
.rectangle072 form ::placeholder
{
    font-size: 17px;
}
.date07
{
    padding-right: -20px;
}